<div class="login-container">
  <form class="login-form" (submit)="handleSubmit($event)">
    <h2 class="login-form__title">Sign In</h2>
    
    <div class="login-form__group" >
        @if (loginForm.username().touched() && loginForm.username().invalid()){
            @for (error of loginForm.username().errors(); track error.kind){
                <span class="login-form__span">{{error.message}}</span>
            }
        }
      <label for="text" class="login-form__label">User Name</label>
      <input 
        type="text" 
        id="username" 
        class="login-form__input" 
        placeholder="username"
        [formField]="loginForm.username"
        >
    </div>
    
    <div class="login-form__group">
        @if (loginForm.password().touched() && loginForm.password().invalid()){
            @for (error of loginForm.password().errors(); track error.kind){
                <span class="login-form__span">{{error.message}}</span>
            }
        }
      <label for="password" class="login-form__label">Password</label>
      <input 
        type="password" 
        id="password" 
        class="login-form__input" 
        placeholder="••••••••"
        [formField]="loginForm.password"
        >
    </div>
    
    <button type="submit" class="login-form__button" [disabled]="loginForm().invalid()">Login</button>
  </form>
</div>